events {
    worker_connections 1024;
}
http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    server {
        listen 80;
        server_name _;

        # These placeholders are replaced by envsubst
        set $landing_page "{DEFAULT_LANDING_PAGE}";
        set $domain "{DOMAIN}";

        if ($landing_page = "odoo") {
            return 302 https://$domain/odoo;
        }
        if ($landing_page = "ui") {
            return 302 http://$domain:3002;
        }

        location / {
            root   /usr/share/nginx/html;
            index  index.html;
            try_files $uri $uri/ /index.html;
        }
    }
}